<div class="container mt-5 text-center">
    <div role="alert">
        <h1 class="display-4">Ordine eseguito con successo!</h1>
        <p class="lead">Il tuo ordine è stato completato con successo. Grazie per aver acquistato con noi!</p>
        <a asp-controller="Products" asp-action="GetProdotti" class="btn btn-info text-white btn-lg mt-4">Ritorna Ai Prodotti</a>
    </div>
</div>