<div class="container mt-5 text-center">
    <h1 class="display-4 mb-4">Nessun ordine esistente</h1>
    <a asp-controller="Products" asp-action="GetProdotti" class="btn btn-info text-white btn-lg">Ritorna Ai Prodotti</a>
</div>