@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
    var user = (ClaimsPrincipal)User;
    var claims = user.Claims.ToList();
}

<div class="container">
    <section id="home" class="hero">
        
        @if (User.Identity.IsAuthenticated)
        {    
            <h2>Bentornato @User.Identity.Name!</h2>
            <p>Vai al catalogo dei prodotti!</p>
            <a class="btn btn-warning" asp-action="GetProdotti" asp-controller="Products">Vai a prodotti</a>
        }
        
        else
        {
            <h2>Benvenuti su Delizie da Gustare</h2>
            <p>Scopri i nostri prodotti alimentari di alta qualità, pronti per essere gustati.</p>
            <a class="btn btn-warning" asp-action="Login" asp-controller="Account">Accedi</a>

        }

    </section>
    
</div>
